<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grocery Model</title>
  </head>
  <body onload="setup()">
    <h1>Grocery Schema</h1>
    <h3>Identify the dimensions and attributes</h3>
    <form action="/test" method="get" id="myForm">
      <input id="Product" type="checkbox" name="product" value="Product" onclick="updateForm()">Product &nbsp;
      <select id="productAttr" name="productAttr" onchange="myForm.submit()">
        <option value="description">Description</option>
        <option value="brand">Brand</option>
        <option value="subcategory">Subcategory</option>
        <option value="category">Category</option>
        <option value="department">Department</option>
      </select>
      <br>
      
      <input id="Store" type="checkbox" name="store" value="Store" onclick="updateForm()">Store &nbsp;
      <select id="storeAttr" name="storeAttr">
        <option value="store_number">Store Number</option>
        <option value="street_address">Street Address</option>
        <option value="city">City</option>
        <option value="county">County</option>
        <option value="state">State</option>
        <option value="zip">Zipcode</option>
        <option value="district">District</option>
        <option value="region">Region</option>
      </select>
      <br>
      
      <input id="Time" type="checkbox" name="time" value="Time" onclick="updateForm()">Time &nbsp;
      <select id="timeAttr" name="timeAttr">
        <option value="date">Date</option>
        <option value="day_of_week">Date of Week</option>
        <option value="day_number_in_month">Day Number in Month</option>
        <option value="month">Month</option>
        <option value="quarter">Quarter</option>
        <option value="fiscal_period">Fiscal Period</option>
        <option value="year">Year</option>
      </select>
      <br>
      
      <input id="Promotion" type="checkbox" name="promotion" value="Promotion" onclick="updateForm()">Promotion &nbsp;
      <select id="promotionAttr" name="promotionAttr">
        <option value="promotion_name">Promo Name</option>
        <option value="promo_cost">Promo Cost</option>
        <option value="promo_begin_date">Promo Begin Date</option>
        <option value="promo_end_date">Promo End Date</option>
      </select>
      <br>
      <input type="submit" id="submit" value="Submit">
    </form>
    
    
  <script type="text/javascript">
  
  function setup(){
    document.getElementById("productAttr").style.visibility = "hidden";
    document.getElementById("storeAttr").style.visibility = "hidden";
    document.getElementById("timeAttr").style.visibility = "hidden";
    document.getElementById("promotionAttr").style.visibility = "hidden";
  }
  
  function updateForm(){
    if(document.getElementById("Store").checked == true)
      document.getElementById("storeAttr").style.visibility = "visible";
    else
      document.getElementById("storeAttr").style.visibility = "hidden"; 
      
    if(document.getElementById("Product").checked == true)
      document.getElementById("productAttr").style.visibility = "visible";
    else
      document.getElementById("productAttr").style.visibility = "hidden";
      
      
    if(document.getElementById("Time").checked == true)
      document.getElementById("timeAttr").style.visibility = "visible";
    else
      document.getElementById("timeAttr").style.visibility = "hidden";
      
    if(document.getElementById("Promotion").checked == true)
      document.getElementById("promotionAttr").style.visibility = "visible";
    else
      document.getElementById("promotionAttr").style.visibility = "hidden";
  }
  
  </script>	
  </body>
</html>