<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Grocery Model</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body onload="setup()">
    <h1>Grocery Schema</h1>
    <h3>Identify the dimensions and attributes</h3>
    <form role="form" action="/test" method="get" id="myForm">
      <div class="col-xs-2">
      <div class="checkbox">
        <label>
        <input id="Product" type="checkbox" name="product" value="Product" onclick="updateForm()">Product 
        </label>
      </div>
      
      <select class="form-control" id="productAttr" name="productAttr" onchange="myForm.submit()">
        <option value="description">Description</option>
        <option value="brand">Brand</option>
        <option value="subcategory">Subcategory</option>
        <option value="category">Category</option>
        <option value="department">Department</option>
      </select>
      </div>
      
      <div class="col-xs-2">
      <div class="checkbox">
        <label>
        <input id="Store" type="checkbox" name="store" value="Store" onclick="updateForm()">Store 
        </label>
      </div>
      <select class="form-control" id="storeAttr" name="storeAttr">
        <option value="store_number">Store Number</option>
        <option value="street_address">Street Address</option>
        <option value="city">City</option>
        <option value="county">County</option>
        <option value="state">State</option>
        <option value="zip">Zipcode</option>
        <option value="district">District</option>
        <option value="region">Region</option>
      </select>
      </div>
      
      <div class="col-xs-2">
      <div class="checkbox">
        <label>
        <input id="Time" type="checkbox" name="time" value="Time" onclick="updateForm()">Time
        </label>
      </div>
      <select class="form-control" id="timeAttr" name="timeAttr">
        <option value="date">Date</option>
        <option value="day_of_week">Date of Week</option>
        <option value="day_number_in_month">Day Number in Month</option>
        <option value="month">Month</option>
        <option value="quarter">Quarter</option>
        <option value="fiscal_period">Fiscal Period</option>
        <option value="year">Year</option>
      </select>
      </div>
      
      <input type="submit" id="submit" value="Submit" class="btn btn-info">
    </form>
    
    
  <script type="text/javascript">
  
  function setup(){
    document.getElementById("productAttr").style.visibility = "hidden";
    document.getElementById("storeAttr").style.visibility = "hidden";
    document.getElementById("timeAttr").style.visibility = "hidden";
    document.getElementById("promotionAttr").style.visibility = "hidden";
  }
  
  function updateForm(){
    if(document.getElementById("Store").checked == true)
      document.getElementById("storeAttr").style.visibility = "visible";
    else
      document.getElementById("storeAttr").style.visibility = "hidden"; 
      
    if(document.getElementById("Product").checked == true)
      document.getElementById("productAttr").style.visibility = "visible";
    else
      document.getElementById("productAttr").style.visibility = "hidden";
      
      
    if(document.getElementById("Time").checked == true)
      document.getElementById("timeAttr").style.visibility = "visible";
    else
      document.getElementById("timeAttr").style.visibility = "hidden";
      
    if(document.getElementById("Promotion").checked == true)
      document.getElementById("promotionAttr").style.visibility = "visible";
    else
      document.getElementById("promotionAttr").style.visibility = "hidden";
  }
  
  </script>	
  </body>
</html>