<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<p>Select your action:</p>
			<form action='' method='get'>
				<input id='addDim' type='radio' name='action' value='addDim' onclick='displayOption()'>Add Dimension<br>
				<input id='removeDim' type='radio' name='action' value='removeDim' onclick='displayOption()'>Remove Dimension<br>
				<input id='rollup' type='radio' name='action' value='rollup' onclick='displayOption()'>Roll Up<br>
				<input id='drilldown' type='radio' name='action' value='drilldown' onclick='displayOption()'>Drill Down<br>
				<input id='slice' type='radio' name='action' value='slice' onclick='displayOption()'>Slice<br>
				<input id='dice' type='radio' name='action' value='dice' onclick='displayOption()'>Dice<br>
				
				<div id='addDimOption' style='display:none;'>
					<p>This is add dimension</p>
				</div>
				
				<div id='removeDimOption' style='display:none;'>
					<p>This is remove dimension</p>
				</div>
				
				<div id='rollupOption' style='display:none;'>
					<p>This is roll up</p>
				</div>
				
				<div id='drilldownOption' style='display:none;'>
					<p>This is drill down</p>
				</div>
				
				<div id='sliceOption' style='display:none;'>
					<p>This is slice</p> 
				</div>
				
				<div id='diceOption' style='display:none;'> 
					<p>This is dice</p> 
				</div> 
			</form>
			
			<script type='text/javascript'>
				function displayOption(){
					if(document.getElementById('addDim').checked == true)
						document.getElementById('addDimOption').style.display = "block";
					else
						document.getElementById('addDimOption').style.display = "none";
		
					if(document.getElementById('removeDim').checked == true)
						document.getElementById('removeDimOption').style.display = "block";
					else 
						document.getElementById('removeDimOption').style.display = "none";

					if(document.getElementById('rollup').checked == true)
						document.getElementById('rollupOption').style.display = "block";
					else 
						document.getElementById('rollupOption').style.display = "none";

					if(document.getElementById('drilldown').checked == true)
						document.getElementById('drilldownOption').style.display = "block";
					else 
						document.getElementById('drilldownOption').style.display = "none";

					if(document.getElementById('slice').checked == true)
						document.getElementById('sliceOption').style.display = "block";
					else 
						document.getElementById('sliceOption').style.display = "none";

					if(document.getElementById('dice').checked == true)
						document.getElementById('diceOption').style.display = "block";
					else 
						document.getElementById('diceOption').style.display = "none";
					
				}
			</script>

	</body>
</html>